.table-table{
    display: inline;
    border: 1px solid blue;
    background-color: blue;
    width: 200px;
    height: 150px;
    font-size: 42px;
    color: white;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
}
.restaurant-cont{
    height: 100%;
   /* background-color: #060606;*/
}
.panel-default {
    width: 55%;
    float: right;
    margin-right: 0px;
    display: inline-block;
    margin-top: -80px;
}
.forma{
    width: 20% !important;

}
.tables{
    margin-top: 252px;
    margin-left: 20%;
}
.pays{
        margin-top: 278px;
    margin-left: 88%;
}