{% include "common/header.twig" %}

<div class="menu">
	<div class="home">
		<a href="">
		<img src="./assets/img/home.png">
		HOME
		</a>
	</div>
	<div class="tickets">
		<a href="#">
		<i class="fa fa-plane fa-3x" aria-hidden="true"></i>TICKETS
		</a>
	</div>
	<div class="services"><i class="fa fa-camera-retro fa-2x"></i>SERVICES</div>
	<div class="reservations">RESERVATIONS</div>
	<a href="./Restaurant/Restaurant"><div class="restaurant">RESTAURANT</div></a>
	<div class="contact">USERS</div>
	<div class="logout">LOGOUT</div>
	<a href="#"><i class="fa fa-fighter-jet" aria-hidden="true"></i>
</a>
</div>

{% include "common/footer.twig" %}