  
{% extends 'Layout/layout.twig' %}

{% block body %}
<div class="wrap-table">
	 <div class="menu-bar box">
	    <div id="tabs">
		      <ul id="menu">  
		           {% for value in category %}
		            <li id="menu-id" name="subCategory" value="{{value.category_id}}">
		            	<a href="/table/{{value.category_id}}">{{value.category_name}}</a>
		            </li>
		           {%  endfor %}
		      </ul>
	    </div>
	</div>

	<div class="col-lg-4">
		
	</div>
</div>


{% endblock %}
