<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello world</title>
</head>
<body>

	<h1>I would say {{data}} </h1>
	<h2>This is a {{test}}</h2>
	<h3>I am from {{countries}}</h3>
	wefwefwef


	<input type="button" name="new_ticket" value="order" class="new_ticket" onclick="document.getElementById('pop_up').style.display='block'" style="width:auto;" > <div id="pop_up" class="modal"> <span onclick="document.getElementById('pop_up').style.display='none'" class="close" title="Close Modal">×</span> <form action='./todo' class="modal-content animate" method="post" > <div class="container"> <h4><b>Add a new Project</b></h4> <label id="label"><b>Project Name</b></label> <input id="projectName" type="text" placeholder="Project Name" name="name" required> <label id="label"><b>Description</b></label> <input id="description" type="text" placeholder="Description" name="des" required> <div id="rightpart"> <label><b>Project type</b></label> <select name="type"> <option value="1">Web</option> <option value="2">Desctop</option> <option value="3">Phone</option> </select> <label id="label"><b>End Date for design</b></label> <input type="date" placeholder="End Date for design" name="end_date_design" required> <label id="label"><b>End Date</b></label> <input type="date" placeholder="End Date" name="end_date" required> <!-- <div id="inlineLabel"> <label><b>User Assing</b></label> <select name='userAssing'> <option value="1">Admin</option> <option value="2">Velko</option> <option value="3">Aleks</option> </select> <label><b>Status</b></label> <select name='status'> <option value="1">todo</option> </select> </div> --> </div> <div class="clearfix"> <div id="buttons"> <button type="button" onclick="document.getElementById('pop_up').style.display='none'" class="cancelbtn">Cancel</button> <button type="submit" name="submit" value="submt" class="addbtn">Add</button> </div> </div> </div> </form> </div>
</body>
</html>