<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello world</title>
</head>
<body>

	<h1>I would say {{ data }} </h1>
	<h2>This is a {{ test }}</h2>
	<h3>I am from {{ countries }}</h3>
	jjjj
	
</body>
</html>